<h1>Amazing TODO List</h1>

<hr>
<h4>Add new Task:</h4>

<form #addForm="ngForm" (submit)="handleSubmit(addForm)">

    <input type="text" ngModel name="task">
    <button type="submit">Add Task</button>

</form>
<hr>
<div>

    <label for="search">
        Search: 
        <input type="text" #searchText (keyup)="handleSearch(searchText.value)">
    </label>

</div>
<hr>
<div>
    <button (click)="handleSave()">Save all</button>
</div>
<hr>

<h3>Your Tasks:</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Task
                <span [class.isSorted]="sorted == SortEnum.ASC" class="arrow" (click)="handleSort(SortEnum.ASC)">&uarr;</span>
                <span [class.isSorted]="sorted == SortEnum.DESC" class="arrow" (click)="handleSort(SortEnum.DESC)">&#8595;</span>
            </td>
            <td>Operations</td>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let t of tasks" [hidden]="!t.isVisible">
            <td>
                <span *ngIf="!t.isUpdated">{{t.name}}</span>
                <span *ngIf="t.isUpdated">
                    <input type="text" name="newName" #newName value="{{t.name}}">
                    <button type="submit" (click)="handleSubmitUpdate(newName.value, t.name)">
                        Save
                    </button>
                </span>
            </td>
            <td>
                <button (click)="handleRemove(t.name)">
                    Remove
                </button>
                <button (click)="handleUpdate(t)">
                    Update
                </button>
            </td>
        </tr>
    </tbody>
</table>